// Rule: always use rem over px unless there is a clear advantage to using px
@use 'sass:map';
@use './variables.scss' as *;

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}

.footer-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer-left,
.footer-right,
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  p {
    margin: 0;
  }
}

.footer-center {
  text-align: center;
  flex: 1;
}

.footer-left {
  align-items: flex-start;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

.initials {
  flex-shrink: 0;
  align-self: center;
  display: flex;
  align-items: center;
  img {
    height: 3.125rem;
    width: 3.125rem;
  }
}

// At lg: push legal text to its own row, copyright and contact stay on row 1
@media (max-width: #{map.get($breakpoints, 'lg')}) {
  .footer-content {
    flex-wrap: wrap;

    .footer-left {
      flex: 1;
    }

    .footer-right {
      flex: 0 0 100%;
      align-items: flex-start;
      text-align: left;
    }
  }
}

// At md: stack all text blocks into a single column
@media (max-width: #{map.get($breakpoints, 'md')}) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;

    .footer-center {
      text-align: left;
    }

    .footer-right {
      flex: unset;
      align-items: flex-start;
    }
  }
}
