.header-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  .logo {
    width: 500px;
  }
}

.home-menu {
  height: 100px;
  width: 100%;
  .initials {
    height: 50px;
    width: 50px;
  }
}

.p-menubar-start {
  height: 50px;
}

.main-section {
  display: flex;
  width: 100%;
}

.nav-menu-container {
  width: 15vw;
  height: 100vw;
}

.home-container {
  padding: 2rem;
}

.scales-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
