.header-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  .logo {
    width: 500px;
  }
}

.home-menu {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  .initials {
    height: 50px;
    width: 50px;
  }
}