@use "primereact/resources/themes/lara-dark-purple/theme.css";
@use './root.scss';
@use './homepage.scss';

@font-face {
  font-family: 'NotoSans';
  src: url('../../public/fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
