@use './variables.scss';
@use "primereact/resources/themes/lara-dark-purple/theme.css";
@use "primeicons/primeicons.css";
@use './root.scss';
@use './globalStyles.scss';
@use './homepage.scss';
@use './fretboard.scss';
@use './intervals.scss';
@use './controlPanel.scss';
@use './scales.scss';
@use './metronome.scss';
@use './timer.scss';
@use './footer.scss';
@use './sidebarControls.scss';
@use './customFretboard.scss';

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../../public/fonts/SpaceGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
