@use './variables.scss';
@use "primereact/resources/themes/lara-dark-purple/theme.css";
@use "primeicons/primeicons.css";
@use './root.scss';
@use './globalStyles.scss';
@use '../components/Home/homepage.scss';
@use '../components/Fretboard/fretboard.scss';
@use '../components/Intervals/intervals.scss';
@use '../components/ControlPanel/controlPanel.scss';
@use '../components/Scales/scales.scss';
@use '../components/Metronome/metronome.scss';
@use '../components/Timer/timer.scss';
@use '../components/Footer/footer.scss';
@use '../components/SidebarControls/sidebarControls.scss';
@use '../components/CustomFretboardEditor/customFretboard.scss';

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../../public/fonts/SpaceGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
