@use './variables.scss' as *;

h1 {
  margin-top: 0px;
}

.intervals-container {
  width: 100%;
  .intervals-page-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .page-subsection {
    .fretboard-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: max-content;
      .fretboard {
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
        transform: rotate(90deg);
        transform-origin: center center;
        svg {
          
        }
      }
    }
  }
}