@use 'sass:map';
@use './variables.scss' as *;

h1 {
  margin-top: 0px;
}

.intervals-container {
  width: 100%;
  .intervals-page-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: #{map.get($breakpoints, 'md')}) {
    .fretboard-controls-panel {
      display: none;
    }

    .intervals-page-section {
      justify-content: center;
    }
  }
}
