
.metronome-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 2rem;
  .metronome-controls-container {
    display: flex;
    gap: 2rem;
    .metronome-controls {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
    .bpm-inputnumber {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .subdivision-input {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .volume-slider {
      height: fit-content;
    }
  }
}
