@use 'sass:map';

// Color set defined outside of the PrimeReact Lara Dark Purple theme
$colors: (
  'gray0': #F9F9F9,
  'gray50': #EBEBEB,
  'gray100': #D7D7D7,
  'gray200': #AFAFAF,
  'gray300': #868686,
  'gray400': #5E5E5E,
  'gray600': #2B2B2B,
  'gray650': #262626,
  'gray700': #202020,
  'gray750': #181818,
  'gray800': #161616,
  'gray850': #101010,
  'gray900': #0B0B0B,
);

$overlay-colors: (
  'level1': map.get($colors, 'gray850'),
  'level2': map.get($colors, 'gray750'),
  'level3': map.get($colors, 'gray650'),
);

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

// text
$primary-text: map.get($colors, 'gray0');
$secondary-text: map.get($colors, 'gray200');

// backgrounds
$background: map.get($colors, 'gray700');
$overlay-1: map.get($overlay-colors, 'level1');
$overlay-2: map.get($overlay-colors, 'level2');
$overlay-3: map.get($overlay-colors, 'level3');

// hovers
$overlay-hover: map.get($colors, 'gray600');
